<section>

  <h1>Countries</h1>

  <div class="charts">
    <div id="countries_chart_div"></div>
    <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
      <table>
        <tr>
          <th>Visited</th>
          <td><%= current_user.countries.count %></td>
        </tr>
        <tr>
          <th>Not Visited</th>
          <td><%= Country.count %></td>
        </tr>
      </table>
    </div>
  </div>
  <div style="clear:both"/>
  <div style="display: inline-block;">
   <%= search_form_for @q, class: "search" do |f| %>
   <%= f.label :name_or_code_cont, "Search:" %>
   <%= f.text_field :name_or_code_cont %>
   <% end %>
 </div>
 <div class="filter" style="display: inline-block;">

  <input type="button" value="Check/Uncheck All" id="select-all-controll" data-action="check" disabled="disabled" />
  <input type="button" value="Visit" id="apply-filter-controll" disabled="disabled" />
</div>

<%=render 'table'%>
</section>