<!DOCTYPE html>
<html>
<head>
  <title>CurrencyTracker</title>
  <%= stylesheet_link_tag "application" %>
  
  <%= csrf_meta_tag %>
</head>
<body>

  <header>
    <h1>CurrencyTracker</h1>
    <% if user_signed_in? %>
    <nav>
      <ul>
        <li><%= link_to "Currencies", currencies_path %></li>
        <li><%= link_to "Countries", countries_path %></li>
        <li><%= link_to "logout", destroy_user_session_path,:method => :delete %></li>
      </ul>
    </nav>
    <%end%>
  </header>

  <%= yield %>

  <footer>
    CurrencyTracker &copy; Copyright <%=DateTime.now.year%> by Dataxu, Inc.
  </footer>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= javascript_include_tag "application" %>

</body>
</html>
